main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    transform: 500ms;
    cursor: pointer;
}

main .red *{
    color: var(--vermelho);
    font-weight: 600;
}

main .box:hover{
    background-color: var(--hover-card);
}

main .box:hover *{
    color: var(--preto);
}

main .box .icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.modalAccount{
    width: 100%;
    height: 100%;
    color: var(--link);
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--transparente);
    z-index: 2;
}

.modalAccount i{
    font-size: 20px;
}

.modalAccount .contentModal{
    background: var(--preto);
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid var(--link);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.modalAccount .contentModal input[type="text"]{
    border: 2px solid var(--link);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin: 3px auto;
}

.modalAccount .contentModal input[type="text"]:focus{
    border: 2px solid var(--hover-card);
}

.modalAccount .contentModal .img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.modalAccount .contentModal .img img{
    width: 100%;
}

.modalAccount .contentModal .buttons{
    display: flex;
    gap: 5px;
}

.modalAccount .contentModal .buttons .btn{
    background-color: var(--vermelho);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body#dark .contentModal *{
    color: var(--branco);
}

body#dark .red,
body#dark .red *{
    color: var(--vermelho);
}

.modalAccount .contentModal .buttons .btn:last-child{
    background-color: var(--link);
}
