main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


main .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 15px 5px;
    transform: 500ms;
    cursor: pointer;
    border-bottom: 1px solid var(--link);
}

main .red *{
    color: var(--vermelho);
    font-weight: 600;
}


.modalAccount input[type="text"],
.modalAccount input[type="email"],
.modalAccount input[type="password"]{
    border: 2px solid var(--link);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin: 3px auto;
}

.modalAccount input[type="text"]:focus,
.modalAccount input[type="email"]:focus,
.modalAccount input[type="password"]:focus{
    border: 2px solid var(--hover-card);
}

.modalAccount .contentModal .img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.modalAccount .contentModal .img img{
    width: 100%;
}

label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons{
    display: flex;

    gap: 5px;
}

.modalAccount .contentModal .buttons .btn{
    background-color: var(--vermelho);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body#dark .red,
body#dark .red *{
    color: var(--vermelho);
}

.modalAccount .contentModal .buttons .btn:last-child{
    background-color: var(--link);
}

.btn{
    /* background-color: var(--branco); */
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}