header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--link);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px var(--destaque);
    position: fixed;
    width: calc(100% - 10px);
    z-index: 2;
}

header .logo img{
    width: 40px;
}

body#dark header{
    background-color: var(--bg-dark);
}

body#dark header .search-input i{
    color: var(--preto);
}

main{
    padding-top: 69px;
    padding-left: 280px;
    padding-right: 260px;
    padding-bottom: 5px;
}

@media screen and ( max-width: 1200px) {
    main{
        padding-right: 8px;
        padding-left: 250px;
    }
}

@media screen and ( max-width: 600px){
    main{
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 60px;
    }
}

main *{
    color: var(--branco);
}


header .search-input{
    background-color: var(--preto-claro);
    border: 1px solid var(--link);
    padding: 6px 7px;
    border-radius: 6px;
    width: 50%;
}

header .search{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .search-input form{
    width: 100%;
}

header .search-input form input{
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--branco);
    width: calc(100% - 20px);
}

header .last-header{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .img-photo{
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--destaque);
}

header .last-header a .img-photo img{
    width: 40px;
    height: 40px;
}

header .last-header div.notification{
    position: relative;
    width: 20px;
    height: 20px;
}

header .last-header * i{
    color: var(--link);
    font-size: 25px;
}

header .last-header div.notification .counter{
    background-color: var(--vermelho);
    color: var(--branco);
    width: 10px;
    height: 10px;
    font-size: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30%;
    left: -10%;
}

.search-btn{
    display: none;
}

@media screen and (max-width:  750px) {
    header .search-input{
        display: none;
    }
    .search-btn{
        display: block;
    }
    .result{
        display: none;
    }
}

.relactive{
    position: relative;
}

.result{
    position: fixed;
    border-radius: 10px;
    border: 1px solid var(--branco);
    top: 75px;
    left: calc(50% - 150px);
    background-color: var(--bg);
    padding: 10px;
    z-index: 2;
    height: 200px;
    width: 220px;
    overflow-y: scroll;
}

.list-group{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.list-group-item{
    padding: 1px 2px;
    border-radius: 20px;
    background-color: var(--destaque);
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 5px;
}

.list-group-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid var(--destaque);
}

.list-group-item a{
    width: 100%;
    padding: 3px;
}


header .modalNotification{
    position: absolute;
    top: 60px;
    right: 0;
    max-width: 280px;
    height: 220px;
    padding: 10px;
    background-color: var(--bg);
    border: 1px solid var(--link);
    border-radius: 10px;
    margin: 2px;
    overflow-x: scroll;
}

body#dark header .modalNotification{
    background-color: var(--bg-dark);
    border: 1px solid var(--link);
}

header .modalNotification h2{
    margin: 5px 10px;
}

header .modalNotification .notification-content{
    width: 100%;
    border-top: 1px solid var(--link);
}

header .modalNotification .notification-content .notification-box{
    display: flex;
    gap: 5px;
    padding: 5px;
    border-bottom: 1px solid var(--link);
    margin: 5px;
}

header .modalNotification .notification-content .notification-box img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--destaque);
}

/* Teclado virtual e DragOrDrop  */

.draggable {
    background-color: var(--bg);
    border: 1px solid var(--destaque);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: grab;
    user-select: none;
    z-index: 999; 
    position: absolute;
}

.red-ball{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--vermelho);
}