.container{
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.container .img{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.container .form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.container .form .top{
    width: 100%;
}
.container .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.container .form form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .form form input[type="email"],
.container .form form input[type="password"]{
    border: none;
    border-bottom: 2px solid #cecece;
    padding: 5px 0px;
    outline: none;
    font-size: 15px;
    background-color: transparent;
}
.container .form form input[type="email"]::placeholder,
.container .form form input[type="password"]::placeholder{
    color: #000000;
    font-size: 15px;
}


.container .form form input[type="email"]:focus,
.container .form form input[type="password"]:focus{
    border-bottom: 2px solid #000;
}
.container .form form button[type="submit"]{
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
}