/**
*
*   Modal para edicão de perfil
*
**/

.img-all .capa{
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-all .capa img{
    width: 100%;
    height: 100%;
}

.img-all .edit-profile-photo{
    width: 85px;
    border-radius: 100%;
    overflow: hidden;
    margin:  -40px 0px 10px 10px;
    border: 3px solid var(--destaque);
}

.img-all .edit-profile-photo img{
    width: 100%;
    height: auto;
}

.content-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px 0px;
}

.content-text .info-text{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--destaque);
    border-radius: 3px;
    padding: 5px;
}

.content-text .btn button{
    background-color: var(--branco);
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--preto);
}

.content-text .info-text small{
    color: var(--link);
    font-size: 12px;
}


.content-text .info-text input[type="text"],
.content-text .info-text textarea{
    border: none;
    background: transparent;
    padding: 5px 0px;
}

/**
*
*   Conteúdo principal
*
*/

main .main-img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--destaque);
}

main .main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .padding{
    padding: 0px 10px;
}



main .padding .informacao{
    margin-top: -55px;
}


main .padding .informacao .profile-photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid var(--destaque);
}

main .padding .informacao .profile-photo img{
    width: 100%;
    height: 100%;
}

.all{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: scroll;
    padding: 0 10px;
    margin-top: 10px;
}

.all div{
    padding: 5px 0;
    border-bottom: 3px solid var(--link);
    cursor: pointer;
}

.all div a{
    border-radius: 5px;
    padding: 3px 1px;
}

.all div a:hover{
    background-color: var(--destaque);
}

hr{
    margin-top: 0;
}
.nameOPtion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameOPtion .op{
    background-color: var(--link);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 10px;
}

.grid .item{
    border: 1px solid var(--link);
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.grid .item video{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

section .alert-content{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

section .alert-content i{
    font-size: 60px;
}

.bio{
    display: flex;
    justify-content: center;
}

.bio .bio-inside{
    text-align: center;
    max-width: 200px;
}


/* card */


.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.arquivo{
    display: none;
}

.container-conteudo:hover .arquivo{
    display: block;
}

.container-conteudo:hover .capa{
    display: none;
}