:root{
    --preto: #000;
    --bg: #131313;
    --branco: #fff;
    --link: #676262;
    --destaque: #6762623e;
    --vermelho: #f00;
    --laranja: #ff6923;
    --hover-card: #d0efe8;
    --azul: #006aff;
    --transparente: #2c3734b1;
    --bg-dark: #e4e4e4;
    --verde: rgb(18, 210, 114);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    color: var(--branco);
    outline: none;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--bg);
    transition: 1s;
    position: relative;
    box-sizing: border-box;
    --bg: #131313;
}

body#dark{
    --bg: #e4e4e4;
    background-color: var(--bg);
}

body#dark *{
    color: var(--preto);
}

body#dark header{
    background-color: var(--bg-dark);
}

body#dark header .search-input i{
    color: var(--preto);
}

main{
    padding-top: 69px;
    padding-left: 280px;
    padding-right: 260px;
    padding-bottom: 5px;
}

@media screen and ( max-width: 1200px) {
    main{
        padding-right: 8px;
        padding-left: 250px;
    }
}

@media screen and ( max-width: 600px){
    main{
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 60px;
    }
}

main *{
    color: var(--branco);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li { list-style: none; }

button{
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img,
i{ display: block; }

hr{
    border: none;
    border-top: 1px solid var(--link);
    margin: 5px 0;
}

span { display: inline-block; }

html {
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

/*
* scrollbar style
*/

*::-webkit-scrollbar { width: 5px; }

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border: 3px solid var(--destaque);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover { background: var(--hover-card);}

/* Controles de cor */

header{
    background-color: var(--bg);
}

header .search-input i{
    color: var(--branco);
}

details {
    position: relative;
    z-index: 1;
}

details ul{
    position: absolute;
    right: 100%;
    width: max-content;
    background-color: var(--bg);
    border: 1px solid var(--link);
    border-radius: 5px;
}

body#dark details ul{
    background-color: var(--bg-dark);

}

details ul li{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    color: var(--branco);
    background-color: var(--destaque);
}

details ul li i{
    color: var(--branco);
}

details ul li:hover{
    background-color: var(--link);
    color: var(--branco);
}

details ul li:hover i{
    color: var(--branco);
}

/*-----------------------------------*\
#   Offline Status                    #
\*-----------------------------------*/

.online-status{
    width: 270px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
    background: var(--link);
    position: fixed;
    bottom: 0;
    margin: 0px 5px 10px 0px;
    z-index: 3;
}

.online-status svg{
    max-width: 170px;
    padding: 0;
    margin: 0;
}

.online-status *{
    color: #b3b3b3;
}

.online-status a{
    color: var(--azul);
    text-decoration: underline;
}

@media screen and ( max-width: 600px){
    .online-status{
        margin: 0px 5px 70px 0px;
    }
}

/* Animações */

.relactive{
    animation-name: animat;
    animation-duration: 50ms;
}

@keyframes animat{
    0%{
        margin-left: -10px;
    }100%{
        margin: 0;
    }
}

/*
no content
*/

main .alert-content{
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    animation-name: animat;
    animation-duration: 80ms;
}

main .alert-content i{
    font-size: 60px;
}

/*
*
* Estilo de paginação
*
*/

.pag{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pag button{
    padding: 10px;
    background-color: var(--destaque);
    border-radius: 10px;
}

.cinza{
    color: var(--link);
}

.cinza *{
    color: var(--link);
}

.modalAccount{
    width: 100%;
    min-height: 100vh;
    color: var(--link);
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--transparente);
    z-index: 2;
}

.modalAccount i{
    font-size: 20px;
}

.modalAccount .contentModal{
    background: var(--preto);
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid var(--link);
    max-height: 70vh;
    text-align: start;
    overflow-x: hidden;
    max-width: 600px;
}

body#dark .modalAccount .contentModal{
    background: var(--branco);
}


div.modal-video div.cima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--link);
}

div.modal-video div.cima button{
    background-color: var(--vermelho);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 27px;
}

div.modal-video div.steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.modalAccount .contentModal a{
    text-decoration: underline;
    font-weight: 600;
    color: var(--link);
}

.btn-simple{
    margin: 3px 0px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--link);
    border-radius: 5px;
    padding: 8px 5px;
    color: var(--branco);
}

.btn-submit-simple,
.btn-share{
    background-color: var(--link);
    color: var(--branco);
    border: none;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

small.erro{
    color: var(--vermelho);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center > div{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--link);
}

.center > div img{
    width: 20px;
}

.share-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    border-bottom: 1px solid var(--destaque);
}

.flex-share{
    display: flex;
    align-items: center;
    gap: 6px;
}

.share-top button{
    font-size: 25px;
    padding-bottom: 8px;
}

.input-share{
    border: 2px solid var(--destaque);
    border-radius: 5px;
    padding: 5px;
    max-width: 220px;
    overflow: hidden;
    margin: 3px 0px;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.social-media *{
    text-decoration: none;
}

.social-media div{
    width: 45px;
    height: 45px;
    background-color: var(--destaque);
    border-radius: 50%;
}