


nav.nav-down{
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--link);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px var(--link);
    position: fixed;
    width: calc(100% - 10px);
    background-color: var(--bg);
    bottom: 0;
    display: none;
}

nav.nav-down ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and ( max-width: 600px){
    nav.nav-down{
        display: block;
    }
}

