main .alert-content{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

main .alert-content i{
    font-size: 60px;align-items
}



/* videos */

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

@media screen and (max-width:  950px) {
    .grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

.card-video{
    padding: 3px 5px;
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.card-video video{
    width: 100%;
    border-radius: 15px;
}

.card-video .user-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-video .user-description a.inline{
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-video .user-description div.opc{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--link);
    border-radius: 50%;
}

.card-video .user-description div.foll{
    background-color: var(--branco);
    color: var(--preto);
    padding: 5px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bolder;
}

.card-video .user-description .img-photo{
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--destaque);
    width: 40px;
    height: 40px;
}

.card-video .user-description .img-photo img{
    width: 100%;
}

.card-video .user-description .page-name{
    margin-bottom: 5px;
}

.card-video .user-description .page-name small{
    color: var(--link);
}

.description{
    padding: 0px 5px;
}

.card-video .date{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 2px;
    font-size: 10px;
}

.card-video .date i{
    font-size: 10px;
}


.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--destaque);
    padding: 2px;
    border-radius: 20px;
    height: 30px;
    padding: 2px;
}

.comment .c-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.comment .c-img img{
    height: 100%;
}

.comment form{
    width: 100%;
    display: flex;
}

.comment form input{
    width: 98%;
    background-color: transparent;
    border: none;
}

.comment form input::placeholder{
    color: var(--branco);
}


.card-video .options{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--link);
    margin-top: 5px;
    padding: 5px;
}

.card-video .options a{
    background-color: var(--destaque);
    min-width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
    border-radius: 30px;
}


